
<html>
<head>
  <title>Snake Game</title>
</head>

 
  <canvas class="score" height="60" width="500"
    style="background: #336633;
    border: 20px solid #336633">
  </canvas>

  <canvas class="canvas" height="500" width="500">
    <style>
      canvas{  
          background-color:#99cc66; 
          border: 20px solid #669933;
          display: block;
          margin: 0 auto;
      }
    </style>
  </canvas>

  <script src="fruit.js"></script>
  <script src="snake.js"></script>
  <script src="draw.js"></script>
</html>
